.selected {
    filter: brightness(0.2);
}

.notselected{

  filter:brightness(1);
}

 .img-click {
    cursor: pointer;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: blue;

  }
  .above{
    text-decoration: none;
    color: white;
    font-size: 30px;
  }


  .demo:hover{
    /* opacity: 0.2; */
    -webkit-filter: brightness(30%);
  }
  
  .upper {
    position:relative; 
    opacity: 0.1;
    -webkit-filter: brightness(40%);
    top: -140px;
    left: 140px;
    
  }